<?xml version="1.0" ?>
<robot name="robotiq_3f_gripper">
  <link name="robotiq_3f_frame"/>
  <link name="AGS_palm">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/visual/AGS_palm.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/collision/AGS_palm.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="robotiq_3f_frame_to_AGS_palm_joint" type="fixed">
    <parent link="robotiq_3f_frame"/>
    <child link="AGS_palm"/>
    <origin xyz="0 0.04127 0" rpy="0 0 0"/>
  </joint>
  <link name="AGS_finger-base">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/visual/AGS_finger-base.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/collision/AGS_finger-base.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="AGS_palm_to_AGS_finger-base_joint" type="fixed">
    <parent link="AGS_palm"/>
    <child link="AGS_finger-base"/>
    <origin xyz="-0.04056 0.01985 0.03651" rpy="0 0 0"/>
  </joint>
  <link name="AGS_finger-prox">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/visual/AGS_finger-prox.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/collision/AGS_finger-prox.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="AGS_finger-base_to_AGS_finger-prox_joint" type="fixed">
    <parent link="AGS_finger-base"/>
    <child link="AGS_finger-prox"/>
    <origin xyz="-0.00397 0.02151 0" rpy="-3.1415927 0 -1.1150822"/>
  </joint>
  <link name="AGS_finger-med">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/visual/AGS_finger-med.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/collision/AGS_finger-med.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="AGS_finger-prox_to_AGS_finger-med_joint" type="fixed">
    <parent link="AGS_finger-prox"/>
    <child link="AGS_finger-med"/>
    <origin xyz="-0.069809366 -0.0013289835 0.00804" rpy="0 0 0"/>
  </joint>
  <link name="AGS_finger-dist">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/visual/AGS_finger-dist.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/collision/AGS_finger-dist.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="AGS_finger-med_to_AGS_finger-dist_joint" type="fixed">
    <parent link="AGS_finger-med"/>
    <child link="AGS_finger-dist"/>
    <origin xyz="-0.024675479 0.0014480048 -0.00804" rpy="0.4557141 -1.5707963 0"/>
  </joint>
  <link name="AGS_finger-base001">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/visual/AGS_finger-base.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/collision/AGS_finger-base.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="AGS_palm_to_AGS_finger-base001_joint" type="fixed">
    <parent link="AGS_palm"/>
    <child link="AGS_finger-base001"/>
    <origin xyz="-0.04056 0.01985 -0.03651" rpy="0 0 0"/>
  </joint>
  <link name="AGS_finger-prox001">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/visual/AGS_finger-prox.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/collision/AGS_finger-prox.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="AGS_finger-base001_to_AGS_finger-prox001_joint" type="fixed">
    <parent link="AGS_finger-base001"/>
    <child link="AGS_finger-prox001"/>
    <origin xyz="-0.00397 0.02151 0" rpy="-3.1415927 0 -1.1150822"/>
  </joint>
  <link name="AGS_finger-med001">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/visual/AGS_finger-med.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/collision/AGS_finger-med.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="AGS_finger-prox001_to_AGS_finger-med001_joint" type="fixed">
    <parent link="AGS_finger-prox001"/>
    <child link="AGS_finger-med001"/>
    <origin xyz="-0.070573474 -0.0012468926 0.00805" rpy="0 0 0"/>
  </joint>
  <link name="AGS_finger-dist001">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/visual/AGS_finger-dist.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/collision/AGS_finger-dist.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="AGS_finger-med001_to_AGS_finger-dist001_joint" type="fixed">
    <parent link="AGS_finger-med001"/>
    <child link="AGS_finger-dist001"/>
    <origin xyz="-0.024679703 0.0014793442 -0.00805" rpy="0.4557141 -1.5707963 0"/>
  </joint>
  <link name="AGS_finger-base002">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/visual/AGS_finger-base.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/collision/AGS_finger-base.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="AGS_palm_to_AGS_finger-base002_joint" type="fixed">
    <parent link="AGS_palm"/>
    <child link="AGS_finger-base002"/>
    <origin xyz="0.04051 0.01985 0" rpy="3.1415927 0 3.1415927"/>
  </joint>
  <link name="AGS_finger-prox002">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/visual/AGS_finger-prox.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/collision/AGS_finger-prox.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="AGS_finger-base002_to_AGS_finger-prox002_joint" type="fixed">
    <parent link="AGS_finger-base002"/>
    <child link="AGS_finger-prox002"/>
    <origin xyz="-0.00397 0.02151 0" rpy="3.1415927 0 -1.1136946"/>
  </joint>
  <link name="AGS_finger-med002">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/visual/AGS_finger-med.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/collision/AGS_finger-med.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="AGS_finger-prox002_to_AGS_finger-med002_joint" type="fixed">
    <parent link="AGS_finger-prox002"/>
    <child link="AGS_finger-med002"/>
    <origin xyz="-0.069807455 -0.001425852 0.00805" rpy="0 0 -0.066497045"/>
  </joint>
  <link name="AGS_finger-dist002">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/visual/AGS_finger-dist.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/collision/AGS_finger-dist.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="AGS_finger-med002_to_AGS_finger-dist002_joint" type="fixed">
    <parent link="AGS_finger-med002"/>
    <child link="AGS_finger-dist002"/>
    <origin xyz="-0.024716867 -0.00022913109 -0.00805" rpy="0.52359878 -1.5707963 0"/>
  </joint>
  <link name="AGS_wrist">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/visual/AGS_wrist.stl"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/RVLuser/data/test_ws/src/robotiq_3f_description/meshes/collision/AGS_wrist.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.01"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="robotiq_3f_frame_to_AGS_wrist_joint" type="fixed">
    <parent link="robotiq_3f_frame"/>
    <child link="AGS_wrist"/>
    <origin xyz="0 0 0" rpy="0 1.0432366 3.1415927"/>
  </joint>
</robot>
